@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<style>
    /* Stilurile pentru imaginea de fundal */
    body {
        background-image: url('https://i.imgur.com/BHGxiv1.jpg');
        background-size: cover; /* Asigură că imaginea de fundal se întinde pentru a acoperi întreaga suprafață a paginii */
        background-position: top;
        background-attachment: fixed; /* Face ca imaginea de fundal să rămână fixă în timpul scroll-ului */
    }
</style>
@* <h1>Manage your account</h1> *@

<div>
    <h2>Change your account info</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
