@{
    ViewData["Title"] = "Generated Recipe";
}


@if (ViewData["Image"] != null)
{
    <div>

        <img src="@ViewData["Image"]" alt="Generated Image" style="width: 450px; height: auto;" />
    </div>
}
else
{
    <p>No image generated.</p>
}
<br />

@if (ViewData["Recipe"] != null)
{
    <pre>@Html.Raw(ViewData["Recipe"])</pre>
}
else
{
    <p>No response generated.</p>
}


<form asp-controller="Generate" asp-action="Save" method="post">
    <input type="hidden" name="recipeText" value="@ViewData["Recipe"]" />
    <button type="submit">Salvează Rețeta</button>
</form>
<br />
